<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.min.css"
    />
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="logo">
          <a href="#">Ali Hassan</a>
        </div>
        <div class="menus">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#work">Works</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>

      <div class="hero-section">
        <div class="left">
          <h1>Design and Build for Amazing People</h1>
          <p>Designing and building systems for over 2 years</p>

          <button>
            Hire me
            <i class="ri-arrow-right-line"></i>
          </button>
        </div>
        <div class="right">
          <img src="./images/ali.png" alt="ali" />
        </div>
      </div>

      <div class="dividor"></div>

      <div id="about">
        <h1>I like to make a simple and elegant design</h1>
        <p>
          As a web app developer with over 2 years of experience in the field. I
          am responsible for creating best user interfaces and experiences that
          are intuitive, visually appealing and easy to use.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci,
          dolorum! Sunt asperiores quia veritatis sapiente dolores dignissimos
          cum praesentium ipsum, reprehenderit quidem voluptatibus aliquid est.
          Nostrum quia aliquid nihil cupiditate? Lorem ipsum dolor, sit amet
          consectetur adipisicing elit. Pariatur quos ab eligendi, totam ducimus
          consequatur quae. Illum odit tempora nam.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
          rerum eveniet laudantium, dignissimos aliquid nobis facilis eius
          repudiandae numquam exercitationem.
        </p>
      </div>

      <div id="work">
        <h1>Latest Projects</h1>
        <div class="cards">
          <div class="card">
            <div>
              <img src="./images/ali.png" alt="project-1" />
            </div>
            <div class="content">
              <h2>Chatboard</h2>
              <div>
                <span>UI/UX</span>
                <span>NextJS</span>
              </div>
            </div>
          </div>
          <div class="card">
            <div>
              <img src="./images/ali.png" alt="project-1" />
            </div>
            <div class="content">
              <h2>Chatboard</h2>
              <div>
                <span>UI/UX</span>
                <span>NextJS</span>
              </div>
            </div>
          </div>
          <div class="card">
            <div>
              <img src="./images/ali.png" alt="project-1" />
            </div>
            <div class="content">
              <h2>Chatboard</h2>
              <div>
                <span>UI/UX</span>
                <span>NextJS</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
