<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>about</title>
  </head>
  <body>
    <div class="container">
      <h1 class="font-bold text-2xl">About page</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates
        nesciunt neque, omnis dolorum corrupti reiciendis harum porro nostrum.
        Sapiente, vitae, magni ullam temporibus repellat laudantium aut quam
        aperiam dolorem accusamus deserunt ratione praesentium incidunt omnis
        voluptatum! Dolore vel, exercitationem perferendis hic aut doloribus
        ipsum asperiores dolor similique dicta quae! Provident.
      </p>
    </div>
  </body>
</html>
